.brightness-50 {
    filter: brightness(0.5);
}

.blur- {
    filter: blur(1.5px);
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    z-index: 10; /* Убедитесь, что текст находится поверх всех элементов карусели */
}

.carousel-caption h1, .carousel-caption p {
    margin: 0; /* Убираем внешние отступы для более точного выравнивания */
}

.carousel-caption h1 {
    font-weight: 700;
}

.carousel-caption p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 40px;
}

.play_btn {
    font-size: 2rem;
    padding: 13px;
}